:root {
  --main-color: #007bff;
}

#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #dee6d3;
  height: inherit;
}
.navbar {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.3rem;
}
#contact-box,
#add-contact-form {
  border: 1px solid var(--main-color);
  border-radius: 6px;
}
.card-header {
  background-color: var(--main-color);
}
#contact-box .fa-sort-down {
  margin-left: 10px;
}
